#footer {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #005235;
    display: flex;
    height: 20vh;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
}

#footer ul {
    display: flex;
}

#footer ul li {
   
    display: block;
    color: #005235;
    font-size: 15px;
    height: 30px;
    width: 30px;
    background: #171515;
    line-height: 30px;
    border-radius: 50px;
   margin-top: 25%;
    margin:  15px;
    cursor: pointer;
    transition: 0.5s;
}

#footfooter ul li:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    border-radius: 50px;
    z-index: -1;
    transform: scale(0.9);
    transition: 0.5s;
}

#footer ul li :nth-child(1):before {
    background: #171515;
}

#footer ul li :nth-child(2):before {
    background: #029dfd;
}

#footer ul li :nth-child(3):before {
    background: #e1306c;
}

#footer ul li :nth-child(4):before {
    background: #ff0000;
}

#footer ul li :nth-child(5):before {
    background: #2867b2;
}

#footer ul li:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
}

#footer ul li:nth-child(1):hover:before {
    box-shadow: 0 0 15px #4267b2;
}

#footer ul li:nth-child(2):hover:before {
    box-shadow: 0 0 15px #1da1f2;
}

#footer ul li:nth-child(3):hover:before {
    box-shadow: 0 0 15px #e1306c;
}

#footer ul li:nth-child(4):hover:before {
    box-shadow: 0 0 15px #2867b2;
}

#footer ul li:nth-child(5):hover:before {
    box-shadow: 0 0 15px #ff0000;
}

#footer ul li:nth-child(1):hover {
    color: #0659ff;
    box-shadow: 0 0 15px #3876f3;
    text-shadow: 0 0 15px #3876f3;
}

#footer ul li:nth-child(2):hover {
    color: #26a4f2;
    box-shadow: 0 0 15px #1da1f2;
    text-shadow: 0 0 15px #1da1f2;
}

#footer ul li:nth-child(3):hover {
    color: #e23670;
    box-shadow: 0 0 15px #e1306c;
    text-shadow: 0 0 15px #e1306c;
}

#footer ul li:nth-child(4):hover {
    color: #ff1a1a;
    box-shadow: 0 0 15px #ff0000;
    text-shadow: 0 0 15px #ff0000;
}

#footer ul li:nth-child(5):hover {
    color: #2a6cbb;
    box-shadow: 0 0 15px #2867b2;
    text-shadow: 0 0 15px #2867b2;
}

